* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

#calculator{
    width: fit-content;
    margin: auto;
}

.calculator-body{
    width: 300px;
    background-color: #1A1111;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 8px 8px 20px #392a14;
}

.calculator-screen{
    display: block;
    height: 100px;
    background-color: #392727;
    margin: 8px;
    padding: 8px;
    border-radius: 4px;
    color: #FFDADA;
    /* overflow-x: scroll;
    overflow-y: scroll; */
}

.expression{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 32px;
}

.result {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end; 
    color: #FFA500;
    font-size: 40px; 
}

.calculator-keys{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 16px 8px;
}

button{
    width: 60px;
    padding: 16px;
    height: 60px;
    border-radius: 50%;
    border: none;
    margin: 4px;
    font-size: 24px;
    color: #FFDADA;
}

.all-clear{
    background-color: #5B421A;
    color: #FFDDB0;
}

.operator, .equals, .clear-entry {
    background-color: #5D3F40;
}

.number{
    background-color: #251919;
    color: #FFDADA;
}